<%= render 'shared/navbar' %>



<div class="container mt-3">

  <% if current_user.first_name.nil? %>
    <% name = current_user.email %>
  <% else %>
    <% name = current_user.first_name.capitalize %>
  <% end %>

  <h1 class="mb-3">Hi <%= name %>, welcome to your profile</h1>


  <ul class="nav nav-tabs mb-3 justify-content-around">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My bookings</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="?show=all">All</a>
        <a class="dropdown-item" href="?show=active">Active</a>
        <a class="dropdown-item" href="?show=requested">Requested</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="?show=completed">Completed</a>
        <a class="dropdown-item" href="?show=rejected">Rejected</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?show=listings">My listings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="?show=profile">Profile</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li> -->
  </ul>



  <% if @posts.present?  %>

    <% if @posts[0].bookings[0].present?  %>
      <p>You have pending requests</p>
      <div class="cards">
        <% @posts.each do |post| %>
          <% post.bookings.each do |booking| %>
            <% if booking.status == 'requested' %>
              <%= render 'shared/mylistings_booking_card', booking: booking %>
            <% end %>

          <% end %>
        <% end %>
      </div>
      <br>
      <hr>
    <% end %>

    <p>These are all your active listings:</p>
    <div class="cards">
      <% @posts.each do |post| %>
        <%= render 'shared/posts_card', post: post %>
      <% end %>
    </div>

  <% end %>


  <% if @bookings.present?  %>


    <% if @bookings.where({status: ['confirmed', 'payed', 'picked_up']}).length > 0 %>
        <p>Please find all your active bookings below:</p>
        <% confirmed_bookings = @bookings.where({status: ['confirmed', 'payed', 'picked_up']}) %>
      <div class="cards">
        <% confirmed_bookings.each do |booking| %>
          <%= render 'shared/booking_card', booking: booking %>
        <% end %>
      </div>
    <% end %>

    <% if @bookings.where(status: 'requested').length > 0 %>
      <br>
      <p>Please find all your requested bookings below:</p>
      <% requested_bookings = @bookings.where(status: 'requested') %>
      <div class="cards">
        <% requested_bookings.each do |booking| %>
         <%= render 'shared/booking_card', booking: booking %>
        <% end %>
      </div>
    <% end %>

    <% if @bookings.where({status: ['completed', 'returned']}).length > 0 %>
      <br>
      <p>Please find all your completed bookings below:</p>
      <% completed_bookings = @bookings.where({status: ['completed', 'returned']}) %>
      <div class="cards">
        <% completed_bookings.each do |booking| %>
          <%= render 'shared/booking_card', booking: booking %>
        <% end %>
      </div>
    <% end %>


    <% if @bookings.where(status: 'rejected').length > 0 %>
      <br>
      <p>Please find all your rejected bookings below:</p>
      <% rejected_bookings = @bookings.where(status: 'rejected') %>
      <div class="cards">
        <% rejected_bookings.each do |booking| %>
         <%= render 'shared/booking_card', booking: booking %>
        <% end %>
      </div>
    <% end %>

    <% if @bookings.where(status: 'cancelled').length > 0 %>
      <br>
      <p>Please find all your cancelled bookings below:</p>
      <% cancelled_bookings = @bookings.where(status: 'cancelled') %>
      <div class="cards">
        <% confirmed_bookings.each do |booking| %>
          <%= render 'shared/booking_card', booking: booking %>
        <% end %>
      </div>
    <% end %>

  <% end %>

  <% if @profile.present? && @profile == true %>




    <div class="container d-flex justify-content-center">


      <div class="card col-md-10 col-lg-8">

        <div class="modal-header justify-content-center">
            <h4 class="modal-title text-center'" id="myModalLabel">Your profile</h4>
        </div>


        <div class="modal-body">
            <center>
            <img src="<%= current_user.photo  %>" name="aboutme" width="140" height="140" border="0" class="rounded-circle"></a>
            <h3 class="media-heading"><%= current_user.first_name.capitalize %><small></small></h3>
            <span><strong>Interests: </strong></span>
                <span class="badge badge-secondary">Kayaking</span>
                <span class="badge badge-secondary">Hunting</span>
                <span class="badge badge-secondary">Sailing</span>
            </center>
            <hr>
            <center>
            <p class="text-left"><strong>Bio: </strong><br>
                I love being out in nature, especially kayaking, saling and fishing.</p>
            <br>
            <hr>
            <br>

            <% if current_user.rating %>
             <div class="insert-area">Previous renters have said: </p>
              <% current_user.rating.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>
              <% (5 - current_user.rating).times do %>
                <span class="fa fa-star"></span>
              <% end %>
            </div>
            <% end %>
            <br>

            <p class="text-left"><strong>Stats: </strong><br>
                <%= current_user.first_name.capitalize %> has <%= current_user.posts.count %> listings </p> <br>
                <p class=text-left><%= current_user.bookings.count %> people have renting items from <%= current_user.first_name.capitalize %> previously</p>

            </center>
        </div>
        <div class="modal-footer justify-content-center">
            <!-- <center> -->
            <a href="<%= edit_user_registration_path(current_user) %>">

              <button type="button" class="btn btn-primary">Edit profile</button>
            </a>
            <!-- </center> -->
        </div>

      </div>
    </div>

  <% end %>


</div>
