

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @booking.post.photos[0].source %>);">
  <div class="container">
    <h1><%= @booking.post.title.capitalize %></h1>

    <% if @booking.status == 'requested' %>
      <p> Your booking is still pending <%= @booking.post.user.first_name.capitalize %>'s approval</p>

    <% elsif @booking.status == 'confirmed' %>
      <p>Congratulations, your booking has been confirmed by <%= @booking.post.user.first_name.capitalize %></p>

    <% elsif @booking.status == 'completed' %>
    <p> Details of your previous booking from <%= @booking.post.user.first_name.capitalize %></p>

    <% elsif @booking.status == 'rejected' %>
    <p> Unfortunately <%= @booking.post.user.first_name.capitalize %> was unable to approve this booking request</p>

    <% elsif @booking.status == 'cancelled' %>
    <p>This booking was cancelled</p>

    <% end %>
  </div>
</div>

