

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @booking.post.photos[0].source %>);">
  <div class="container">
    <h1><%= @booking.post.title.capitalize %></h1>

    <% if @booking.status == 'requested' %>
      <p> Your booking is still pending <%= @booking.post.user.first_name.capitalize %>'s approval</p>

    <% elsif @booking.status == 'confirmed' %>
      <p>Congratulations, your booking has been confirmed by <%= @booking.post.user.first_name.capitalize %></p>

    <% elsif @booking.status == 'completed' %>
    <p> Details of your previous booking from <%= @booking.post.user.first_name.capitalize %></p>

    <% elsif @booking.status == 'rejected' %>
    <p> Unfortunately <%= @booking.post.user.first_name.capitalize %> was unable to approve this booking request</p>

    <% elsif @booking.status == 'cancelled' %>
    <p>This booking was cancelled</p>

    <% end %>
  </div>
</div>


<div class="container mt-3">

      <h5>actual booking status: <%= @booking.status %></h5>


  <div class="card" style="width: 18rem;">
    <!-- <div class="card-header">
      Featured
    </div> -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <i class="far fa-check-circle" style="color:green">
        </i> Requested</li>


      <li class="list-group-item">
        <% if @booking.status == 'confirmed' ||
          @booking.status == 'payed' ||
          @booking.status == 'picked_up' ||
          @booking.status == 'returned' ||
          @booking.status == 'completed' %>
            <i class="far fa-check-circle" style="color: green">
        <% elsif @booking.status == 'rejected' ||
        @booking.status == 'cancelled' %>
          <i class="far fa-times-circle" style="color: red">
        <% else %>
          <i class="far fa-times-circle" style="color: grey">
        <% end %>
        </i> Confirmed</li>

      <li class="list-group-item">
        <% if @booking.status == 'payed' ||
          @booking.status == 'picked_up' ||
          @booking.status == 'returned' ||
          @booking.status == 'completed' %>
            <i class="far fa-check-circle" style="color: green">
        <% else %>
          <i class="far fa-times-circle" style="color: grey">
        <% end %>
      </i> Payed</li>

      <li class="list-group-item">
        <% if @booking.status == 'picked_up' ||
          @booking.status == 'returned' ||
          @booking.status == 'completed' %>
            <i class="far fa-check-circle" style="color: green">

        <% else %>
          <i class="far fa-times-circle" style="color: grey">
        <% end %>
      </i> Picked up</li>

      <li class="list-group-item">
        <% if @booking.status == 'returned' ||
          @booking.status == 'completed' %>
            <i class="far fa-check-circle" style="color: green">

        <% else %>
          <i class="far fa-times-circle" style="color: grey">
        <% end %>
      </i> Returned</li>

      <li class="list-group-item">
        <% if @booking.status == 'completed' %>
            <i class="far fa-check-circle" style="color: green">
        <% else %>
          <i class="far fa-times-circle" style="color: grey">
        <% end %>
      </i> Completed</li>




    </ul>
  </div>


</div>





<!--

DETAILED STATUS
-REQUESTED
-CONFIRMED
-PAYED
-COLLECTED
-RETURNED
-COMPLETED


Price

Payment status

Address

Dates

Duration





-->
