
 <div class="card-trip">
  <img src="<%= booking.post.photos[0].source %>">
  <div class="card-trip-infos">
    <div>
      <h2><%= booking.post.title.capitalize %></h2>
      <p> <%= booking.post.description.capitalize %></p>
      <p> <strong>Pickup:</strong> <%= booking.start_date %> <strong>Return:</strong> <%= booking.end_date %></p>
    </div>
    <h2 class="card-trip-pricing"><%= booking.price %> CAD </h2>
    <img src='https://kitt.lewagon.com/placeholder/users/gfmar' class="card-trip-user avatar-bordered"/>
  </div>
</div>
