<div class="card-trip">
    <img src="<%= post.photos[0].source %>">
    <div class="card-trip-infos">
      <div>
        <h2><%= post.title.capitalize %></h2>
        <p> <%= post.description.capitalize %></p>
      </div>
      <h2 class="card-trip-pricing">From $<%= post.price %> CAD a day</h2>
      <img class="avatar" src="<%= post.user.photo %>" class="card-trip-user avatar-bordered"/>
    </div>
  </div>
