
<div class="modal-content">

    <div class="modal-header justify-content-center">
        <h4 class="modal-title text-center'" id="myModalLabel">More About <%= booking.user.first_name.capitalize %></h4>
    </div>


    <div class="modal-body">
        <center>
        <img src="<%= booking.user.photo  %>" name="aboutme" width="140" height="140" border="0" class="rounded-circle"></a>
        <h3 class="media-heading"><%= booking.user.first_name.capitalize %><small></small></h3>
        <span><strong>Interests: </strong></span>
            <span class="badge badge-secondary">Kayaking</span>
            <span class="badge badge-secondary">Hunting</span>
            <span class="badge badge-secondary">Sailing</span>
        </center>
        <hr>
        <center>
        <p class="text-left"><strong>Bio: </strong><br>
            I love being out in nature, especially kayaking, saling and fishing.</p>
        <br>
        <hr>
        <br>
            <% if booking.user.rating %>
             <div class="insert-area">Previous renters have said: </p>
              <% booking.user.rating.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>
              <% (5 - booking.user.rating).times do %>
                <span class="fa fa-star"></span>
              <% end %>
            </div>
            <% end %>

        <p class="text-left"><strong>Stats: </strong><br>
            <%= booking.user.first_name.capitalize %> has <%= booking.user.posts.count %> listings </p>

            <p class=text-left><%= booking.user.bookings.count %> people have renting items from <%= booking.user.first_name.capitalize %> previously</p>

        </center>
    </div>

</div>




