
            <div class="modal-content">

                <div class="modal-header justify-content-center">
                    <h4 class="modal-title text-center'" id="myModalLabel">More About <%= @post.user.first_name.capitalize %></h4>
                </div>


                <div class="modal-body">
                    <center>
                    <img src="<%= @post.user.photo  %>" name="aboutme" width="140" height="140" border="0" class="rounded-circle"></a>
                    <h3 class="media-heading"><%= @post.user.first_name.capitalize %><small></small></h3>
                    <span><strong>Interests: </strong></span>
                        <span class="badge badge-secondary">Kayaking</span>
                        <span class="badge badge-secondary">Hunting</span>
                        <span class="badge badge-secondary">Sailing</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        I love being out in nature, especially kayaking, saling and fishing.</p>
                    <br>
                    <hr>
                    <br>
                    <% if @post.user.rating %>
             <div class="insert-area">Previous renters have said: </p>
              <% @post.user.rating.times do %>
                <span class="fa fa-star checked"></span>
              <% end %>
              <% (5 - @post.user.rating).times do %>
                <span class="fa fa-star"></span>
              <% end %>
              </div>
            <% end %>
        <p class="text-left"><strong>Stats: </strong><br>
        <%= @post.user.first_name.capitalize %> has <%= @post.user.posts.count %> listings </p>
        <p class=text-left><%= @post.user.bookings.count %> people have renting items from <%= @post.user.first_name.capitalize %> previously</p>
                    </center>
                </div>
            </div>
