<%= render 'shared/navbar' %>
<div class="container aligner" height="100vh">
  <div class="form-card border rounded p-4 mt-5">
    <h1>Edit Post:</h1>

    <%= simple_form_for @post do |f| %>
      <% if @post.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <!-- [...] all the fields -->
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.input :category %>

      <div class="photos-uploader d-flex">
        <%= f.simple_fields_for :photos do |p, photo| %>
          <div class="photo-uploader">
            <%= cl_image_tag p.object.source, width: 60, height: 60, class: "rounded-circle" %>
            <%= p.input :source, class: "btn btn-outline-success"%>
            <%= p.input :source_cache, as: :hidden %>
          </div>
        <% end %>
      </div>

      <%= f.submit 'Save changes', class: "btn btn-warning button-main" %>
    <% end %>
    <%= link_to "Cancel", root_path, class: "btn btn-light border button-main back_button ml-5"%>

  </div>
</div>
