<div class="banner-home">

  <%= render 'shared/navbar_home' %>

  <div class="container">
    <h1>Montreal <strong>Outdoor Sports</strong>!</h1>
    <p>Bikes, cars, drones, rent anything you want.</p>

    <!-- Search box -->
    <div class="search__container">
      <%= form_tag(search_posts_path, method: "get") do %>
        <%= text_field_tag :q, "", class: "search__input", placeholder: "search"%>
        <%#= submit_tag("Search") %>
      <% end %>
    </div>
    <!--  -->

  </div>
</div>




  <h5>Featured items: </h5>

  <div class="card-container">
    <% @featured_list.each do |post| %>
    <%= link_to post_path(post.id) do %>
    <%= render 'shared/feature_card', post: post %>
    <% end %>
    <% end %>
  </div>



<footer class="index-footer">

<div>
   <h3>About</h3>
  <h4>About us</h4>
  <h4>Terms of service</h4>
  <h4>FAQ</h4>
</div>


  <div>
    <h3>Account</h3>
    <h4>My items</h4>
    <h4>Sign out</h4>
  </div>


  <div><h3>Follow us</h3></div>

</footer>



