<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/uY2UIyO5o5c/1600x900);">
  <div class="container">
    <h1>Montreal <strong>outdoor sports</strong>!</h1>
    <p>Bikes, cars, drones, anything you want.</p>

    <!-- Search box -->
    <div class="searchbox" style="background-color: white">

    <%= form_tag(search_posts_path, method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>

    </div>
    <!--  -->
  </div>
</div>


<div class="container">
  <h5>Featured items: </h5>

   <% featured_list = @posts.last(5) %>

  <div class="card-container">
    <% featured_list.each do |item| %>
      <div class="featured-card">
        <img src=<%= item.photos[0].source %> >
        <div class="">
          <p> <%= item.title %> </p>
          <p> from $<%= item.price %> a day <p>
        </div>
      </div>
    <% end %>
  </div>
</div>


<footer class="index-footer">

<div>
   <h3>About</h3>
  <h4>About us</h4>
  <h4>Terms of service</h4>
  <h4>FAQ</h4>
</div>


  <div>
    <h3>Account</h3>
    <h4>My items</h4>
    <h4>Sign out</h4>
  </div>


  <div><h3>Follow us</h3></div>

</footer>
