<div class="banner-home">

  <%= render 'shared/navbar_home' %>

  <div class="container">
    <h1>Get. <strong>Out.</strong></h1>
    <p>Bear traps, fishings rods, tents - rent anything you want.</p>

    <!-- Search box -->
    <div class="search_container">
      <%= form_tag(search_posts_path, method: "get", html: { autocomplete: "off" }) do %>
        <%= text_field_tag :q, "", class: "search__input", placeholder: "search"%>
        <%#= submit_tag("Search") %>
      <% end %>
    </div>
    <!--  -->

  </div>
</div>

  <div class="container mt-5 mb-5">
  <h4 class="mb-5">Featured Items: </h4>
    <div class="cards">
      <% @featured_list.each do |post| %>
        <%= link_to post_path(post.id) do %>
        <%= render 'shared/feature_card', post: post %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container mt-5 mb-5">
  <h4 class="mb-5">Camping Gear: </h4>
    <div class="cards">
      <% @camping_gear_list.each do |post| %>
        <%= link_to post_path(post.id) do %>
        <%= render 'shared/feature_card', post: post %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="container mt-5 mb-5">
  <h4 class="mb-5">Outdoor Equipment: </h4>
    <div class="cards">
      <% @outdoor_equipment_list.each do |post| %>
        <%= link_to post_path(post.id) do %>
        <%= render 'shared/feature_card', post: post %>
        <% end %>
      <% end %>
    </div>
  </div>

<%= render 'shared/footer' %>
