<%= render 'shared/navbar_search' %>
<div class="main-container">

  <div class="cards">
    <% @category.each do |post| %>
        <div class="card" style="background-image: url(<%= post.photos.first.source.url %>);">
          <%= post.title.capitalize %>
        </div>
    <% end %>

<!--   <div class="container mt-3">
  <h1>Search Results: </h1>
  <div class="cards">
    <%# @category.each do |item| %> -->
        <%#= link_to post_path(item.id) do %>
    <%#= render 'shared/feature_card', post: item %>
  </div>
    <div
    id="map"
    style="width: 40%;
    height: 90vh;
    position: sticky;
    top: 0;
    margin: 0 0 0 16px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  class="ml-3"></div>
</div>
</div>
